{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
                     <div id="posthead">
                        <h2 class="postheader"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2><br />

                     </div>
                     <br />
                     <div >
                         <p class="posts">{{post.text}}</p>
                         <p class="posts">date of publication: {{post.published_date}}</p>
                     </div>
    {% endfor %}
{% endblock %}